<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order now!</title>
    <meta charset="UTF-8">
    <%- include('blocks/bootstrap.ejs'); -%>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<%- include('blocks/navbar.ejs'); -%>
    <div class="row">
        <div class="col-xs-12 jumbotron" id="form">
            <form id="orderForm">
                <div class="form-group ">
                    <h2>Get your own Codeform today!</h2>
                    <h3>Enter your name and email for order</h3>
                    <div class="form-group">
                        <label for = "firstNameInpt">First Name</label>
                        <input type="text" class="form-control" name="firstName" id="firstNameInpt" placeholder="Your first name">
                    </div>
                    <div class="form-group">
                        <label for = "lastNameInpt">Last Name</label>
                        <input type="text" class="form-control" name="lastName" id="lastNameInpt" placeholder="Your last name">
                    </div>
                    <div class="form-group">
                        <label for = "firstNameInpt">Email</label>
                        <input type="email" class="form-control" name="email" id="emailInpt" placeholder="example@email.com">
                    </div>
                    <button type="button" class="btn btn-primary" id="formBtn"> Submit</button>
                </div>
            </form>
            <script src="js/form.js"></script>
        </div>
    </div>
    <div class="results">

    </div>
</div>
</body>
</html>