<div class="row">
    <div class="col-xs-12 jumbotron">
        <p class="lead">
        <H1>Dear<%=firstName%> <%=lastName%>></H1>
        <H2>Thank you for your order!</H2>
        <h3>We have sent further instructions to your email</h3>
        </p>
    </div>
</div>