<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class = "container-fluid">
        <a href="#" class="navbar-brand"><img src="/img/logo.jpg"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a href="/news" class="nav-link">News</a>
                </li>
                <li class="nav-item">
                    <a href="/codeform" class="nav-link">Codeform</a>
                </li>
                <li class="nav-item">
                    <a href="/order" class="nav-link">Order now!</a>
                </li>
            </ul>
        </div>
    </div>
</nav>